/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Major+Mono+Display&family=Monoton&display=swap');


#back-button{
    border-radius: 100%; 
    width: 50px;
}

#heading{
	font-family: 'Fredericka the Great', cursive;
	text-align: center;
	/* background-color: black; */
	opacity: 100%;
	padding: 25px;
	/* color: white; */
}

/* .card {
  height: 550px;
  width: 335px;
}

img {
  width: 300px;
  height: 250px;
} */

