@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Major+Mono+Display&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lato&family=Lora:ital,wght@1,600&family=Major+Mono+Display&family=Roboto+Slab:wght@200&family=Sail&display=swap');

body, html{
	background-color: rgba(255, 255, 255, 0.815);
	/* height: 100%; */
	/* position: relative; */
	/* display: block; */
}

nav{
    background-color: rgba(255, 255, 255, 0.815);
    font-size: 20px;
}

#partition{
  border-top: 1px solid #000000;
  width: 60%;
}

#menu-item{
	font-family: 'Lora', serif;
	/* font-family: 'Fredericka the Great', cursive; */
}
.fa{
  font-size: 25px;
}
.fa-home{
    color: black;
}
.fa-linkedin{
    color: rgb(0, 119, 255);
}
.fa-github{
    color: black;
}
.fa-envelope{
    color: rgb(207, 0, 0);
}

#two-items{
  height: 400px;
}

#three-items{
  height: 350px;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

/* Small devices (phones : 576px and down) */
@media screen and (min-width: 576px) {


}

/* Medium devices (tablets : 768px and up) */
@media screen and (min-width: 768px) {

}

/* Large devices (desktops monitors : 992px and up) */
@media screen and (min-width: 992px) {

}

/* Extra Large devices (large desktops monitors : 1200px and up) */
@media screen and (min-width: 1200px) {

}



/* On smaller screens, where height is less than 450px, 
change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
    .navigationBar {padding-top: 15px;}
    .navigationBar a {font-size: 18px;}
} */


/* __________________________________________________________________________________ */


/* html {
  height: 100%;
  width: 100%;
  background: #111;
  color: black;
} */

/* p {
  border-right: 2px solid #fff; */
  /* keep text in one line */
  /* white-space: nowrap;  */
  /* hide text behind the cursor */
  /* overflow: hidden;  */
  /* margin: 0 auto; */
/*   font-family: "Major Mono Display", monospace; */
    /* font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  margin-top: 5%; */

  /* define animation types for text + cursor */
  /* animation: animated-text 6s steps(30, end) 1s 1 normal both,
    animated-cursor 900ms steps(30, end) infinite;
} */

/* the cursor, blinking animation */

/* @keyframes animated-cursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.8);
  }
  to {
    border-right-color: transparent;
  }
} */

/* the text, movement */

/* @keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 75rem;
  }
} */



