
#content{
    padding: 30px;
    margin-left: 10%;
    margin-right: 15%;
    margin-bottom: 15%;
}
#content div{
    color: black;
}
.pic{
    height: auto;
    margin: 0 auto 20px;
    border-radius: 50%; 
    display: block;
    max-width: 50%;
}


